<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Shambhuraj's Résumé</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <!-- Personal Links -->
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href='{% static "resume_section/assets/css/main.css" %}'
    />
    <noscript
      ><link
        rel="stylesheet"
        href='{% static "resume_section/assets/css/noscript.css" %}'
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <!-- <span class="logo"><img src='{% static "resume_section/images/logo.svg" %}'' alt="" /></span> -->
        <h1>Shambhuraj Wadghule</h1>
        <h5>Software Engineer, Full Stack Developer</h5>
        <section>
          <ul class="icons">
            <li>
              <a
                href="{% url 'landing_page:index' %}"
                class="icon sharp solid fa-arrow-pointer"
                style="color: black"
                ><span class="label">LinkedIn</span></a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/shambhuraj/"
                target="_blank"
                class="icon brands fa-linkedin"
                style="color: black"
                ><span class="label">LinkedIn</span></a
              >
            </li>
            <li>
              <a
                href="https://github.com/shambhuraj43"
                target="_blank"
                class="icon brands fa-github"
                style="color: black"
                ><span class="label">Github</span></a
              >
            </li>
            <li>
              <a
                href="mailto:srajw818@gmail.com"
                title="srajw818@gmail.com"
                class="icon solid fa-envelope"
                style="color: black"
                ><span class="label">Email</span></a
              >
            </li>
            <li>
              <a
                href="{% static 'resume_section/files/Shambhuraj_Wadghule_Resume.pdf' %}"
                title="download my resume"
                class="icon solid fa-arrow-down"
                style="color: black"
                target="_blank"
                ><span class="label">Email</span></a
              >
            </li>
          </ul>
        </section>
      </header>
      <section>
        <ul class="icons">
          <li>
            <a
              href="{% url 'landing_page:index' %}"
              class="icon solid fa-home"
              style="color: rgb(248, 241, 241)"
              ><span class="label">LinkedIn</span></a
            >
          </li>
        </ul>
      </section>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="#education">Education</a></li>
          <li>
            <a href="#professional-experience">Professional Experience</a>
          </li>
          <li><a href="#publications">Publications</a></li>
          <li><a href="#leadership" target="_blank">Leadership</a></li>
          <li><a href="#skills" target="_blank">Skills</a></li>
          <li><a href="#projects" target="_blank">Projects</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <!-- Education -->
        <section id="education" class="main">
          <div class="spotlight">
            <div class="content">
              <header class="major">
                <h2>Education</h2>
              </header>
              <h3>
                BS in Computer Science (Honors), Minor: Mathematics and
                Statistics, GPA: 3.6
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                December 2022
              </h3>
              <h5></h5>
              <h4>Purdue School of Science, IUPUI</h4>
              <ul class="bullets_dash">
                <li>Dean’s List, Scholar’s List</li>
                <li>
                  Recipient of Highly Prestigious Chancellor’s Scholarship
                </li>
                <li>
                  Recipient of Mentoring Scholarship by Department of
                  Mathematics, IUPUI
                </li>
                <li>
                  MURI Research Scholarship, Center of Research and Learning,
                  IUPUI
                </li>
              </ul>
              <h3>Relevant Coursework:</h3>
              <p>
                Data Structures and Algorithms, AI, Database Systems, Operating
                Systems, Software Design, Advance Calculus, and Differential
                Equations, Cloud Computing, Data Science, Theory of Computation, Algorithms, Parallel Computing
              </p>
              <!-- <ul class="actions">
                <li>
                  <a
                    href='{% static "resume_section/generic.html" %}'
                    class="button"
                    >Learn More</a
                  >
                </li>
              </ul> -->
            </div>
            <!-- <span class="image"><img src='{% static "resume_section/images/pic01.jpg" %}' alt="" /></span> -->
          </div>
        </section>

        <!-- Professional Experience -->
        <section id="professional-experience" class="main">
          <header class="major">
            <h2>Professional Experience</h2>
          </header>
          <ul>
            <!-- {% for i in data %}
            <li>
              <i class="fa-brands fa-github fa-3x"></i>
              <h3>Ipsum consequat</h3>
              <p>
                Sed lorem amet ipsum dolor et amet nullam consequat a feugiat
                consequat tempus veroeros sed consequat.
              </p>
            </li>
            {% endfor%} -->
            <li>
              <h2>Undergraduate Research Assistant, Web Developer</h2>
              <h4><em>Institute for Engaged Learning, IUPUI</em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| June 2019 - December 2022</h4>
              <ul class="bullets">
                <li>
                    Led a training and tutorial team of 5 students in the development of 4 Virtual Reality Modules for the Additive Manufacturing curriculum at Purdue School of Engineering and Technology.
                </li>
                <li>
                  Worked in a multidisciplinary environment to collaborate with students to achieve high efficiency in projects.
                </li>
                <li>
                  Published 2 research papers for the work and submitted two papers for review. Presented the research work at several conferences.
                </li>
                <li>
                  Collaborated with three different MURI research teams to understand the needs and requirements to showcase the research work effectively on a website.
                </li>
              </ul>
              <hr>
            </li>
            <li>
              <h2>Software Development Associate</h2>
              <h4><em>Monkeybar Education Private Limited.</em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| August 2022 - October 2022</h4>
              <ul class="bullets">
                <li>
                  Oversaw app and website development and fulfilled application demands overlayed by the co-founders.
                </li>
                <li>
                  Discussed, enhanced, and embedded required functionality with app developers.
                </li>
                <li>
                  Participated in the conception of the platform-independent application idea in order to provide a learner-friendly app to over 25000 consumers.
                </li>
                <li>
                  Developed the prototype for the application in Figma single-handedly, summing all the criteria.
                </li>
                <li>
                  Assisted with app development with Flutter framework to achieve platform independence by utilizing MySQL as a database and hosting the app on AWS.
                </li>
              </ul>
              <hr>
            </li>
            <li>
              <h2>Software Development Associate</h2>
              <h4><em>Viasat, Inc.</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | May 2022 - August 2022</h4>
              <ul class="bullets">
                <li>
                  Established backend API and frontend web app to create a full stack application in the End User Experience team at Viasat in an Agile/SCRUM software development environment using JIRA.
                </li>
                <li>
                  Utilized Javascript on both ends of the stack, Django with ORM features, and jQuery for web page behavior.
                </li>
                <li>
                  Designed the web application (including UI/UX), taking advantage of ReactJS, jQuery, and Django REST framework.
                </li>
                <li>
                  Migrated from Grafana to ChartJS for data visualization and analysis. Handled ER design and schema development single‐handedly through incremental PostgreSQL migrations.
                </li>
                <li>
                  Containerized the application using Docker to break down components into microservices and used development containers to speed up the continuous integration aspect.
                </li>
              </ul>
              <hr>
            </li>
          </ul>
        </section>

        <!-- Publications -->
        <section id="publications" class="main">
          <header class="major">
            <h2>Publications</h2>
          </header>
          <div>
            <ul>
              <li class="actions">
                <p>
                  J. Zhang, G. Singui, S. Wadghule, and C. Frend, "Virtual
                  Reality Module for Additive Manufacturing Curriculum," in 2020
                  Illinois- Indiana Section Conference Proceedings,
                  Indianapolis, Indiana, USA, 2020, pp. S900-1.
                </p>
              </li>
              <li class="actions">
                <p>
                  Zhang, J., & Singui, G., & Wadghule, S. H., & Frend, C. E., &
                  Dube, T. C., & Golub, M. (2020, June), Developing a Virtual
                  Reality Module to Improve the Student Learning Experience in
                  an Additive Manufacturing Curriculum Paper presented at 2020
                  ASEE Virtua
                </p>
              </li>
              <li>
                <p>
                  Virtual Reality and Godot Modules for Metal Additive
                  Manufacturing Education and Training Shambhuraj Wadghule, Josh
                  Hale, Tejesh Dube, Jing Zhang Indiana University – Purdue
                  University Indianapolis, Indianapolis, Indiana, USA
                </p>
              </li>
            </ul>
          </div>
          <!-- <footer class="major">
									<ul class="actions special">
										<li><a href='' class="button">Requirements.txt</a></li>
									</ul>
								</footer> -->
        </section>

        <!-- Leadership -->
        <section id="leadership" class="main">
          <header class="major">
            <h2>Leadership</h2>
          </header>

          <ul>
            <li>
              <div>
                <h2>Computer Science Teaching Assistant</h2>
                <h4>
                  <em
                    >Department of Computer and Information Science, IUPUI </em>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    | January 2022 – December 2022
                </h4>
                <div>
                  <ul class="bullets">
                    <li>
                      Held weekly recitation classes for tutoring to help students meet the homework requirements.
                    </li>
                    <li>
                      Arranged for struggling students to receive one-on-one coaching and doubt-clearing sessions in order to enhance their academic performance.
                    </li>
                    <li>
                      Carried out achievement-based grading to guarantee fair grading and feedback to assist students in overcoming technical obstacles.
                    </li>
                    <li>
                      Designed assignments and administered in-class quizzes to assist the teacher.
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div>
                <h2>Vice President - Cybersecurity Club @ IUPUI</h2>
                <h4><em>Purdue School of Engineering and Technology, IUPUI</em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| January 2022 - May 2022 </h4>
              </div>
              <div>
                <ul class="bullets">
                  <li>
                    Increased membership by 125% through organizing new events such as CTF challenges, lock-picking events, and alumni recruiting events.
                  </li>
                  <li>
                    Sourced 5+ alumni to serve as mentors to club members through red-teaming challenges, technical workshops, and other professional activities.
                  </li>
                  <li>
                    Developed and managed a daily cybersecurity newsletter distributed to 200+ club members and faculty.
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div>
                <h2>Mathematics Mentor, Grader, Tutor</h2>
                <h4>
                  <em
                    >Department of Mathematical Sciences, IUPUI</em>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    | August 2021 – December 2022
                </h4>
                <div>
                  <ul class="bullets">
                    <li>
                      Enhanced student learning by optimizing various instructional approaches and innovative classroom sessions.
                    </li>
                    <li>
                      Held office hours at Mathematics Assistance Center (MAC) at IUPUI, tutoring 20+ students concurrently.
                    </li>
                    <li>
                      Incorporated a growth mindset approach and proactive behavior modification techniques to lead students to understand complicated mathematical concepts.
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <!-- <footer class="major">
									<ul class="actions special">
										<li><a href='' class="button">Requirements.txt</a></li>
									</ul>
								</footer> -->
        </section>

        <!-- Projects -->
        <section id="skills" class="main">
          <header class="major">
            <h2>Skills</h2>
          </header>
          <ul class="bullets_dash">
            <li>
              <div><p><strong>Programming Languages:</strong> Python, C/C++, Java, JavaScript, C#</p></div>
            </li>
            <li>
              <div><p> <strong>Frameworks:</strong> Django, Flask, React, Express, jQuery, NodeJs (Runtime)</p></div>
            </li>
            <li>
              <div><p><strong>CI/CD:</strong> Docker, Kubernetes, Jenkins, GitHub Actions</p></div>
            </li>
            <li>
              <div><p><strong>DVCS:</strong> Git, GitHub, GitLab </p></div>
            </li>
            <li>
              <div><p><strong>Database:</strong> SQLite, PostgreSQL, MySQL, MongoDB </p></div>
            </li>
            <li>
              <div><p><strong>Web API:</strong> REST API, GraphQL (w/ Graphene), Postman/Insomnia </p></div>
            </li>
            <li>
              <div><p><strong>Cloud/Deployment:</strong> AWS (S3, EC2, ECR, ECS), Heroku, Python Anywhere</p></div>
            </li>
            <li>
              <div><p><strong>Test Driven Develpoment:</strong> PyTest Library</p></div>
            </li>
            <li>
              <div><p><strong>Agile/SCRUM Development</strong> </p></div>
            </li>
            <li>
              <div><p><strong>Other:</strong>  Apache2, Grafana, PTC Creo, Solidworks, Unity, 3DS MAX & Interactive, Matlab </p></div>
            </li>
          </ul>
        </section>

        <!-- Projects -->
        <section id="projects" class="main">
          <header class="major">
            <h2>Independent Projects</h2>
          </header>
          <ul class="bullets_dash">
            {% for project in projects %}
            <li>
              <span>{{project.name}} : {{project.technologies}}</span>
              <span>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; More
                Info &nbsp; &nbsp;</span
              >
              <a
                href="{% url 'project_page:base_page' project.name %}"
                target="_blank"
                ><i class="icon solid fa-arrow-pointer"></i
              ></a>
            </li>
            {% endfor %}
          </ul>
          <footer class="major">
            <ul class="actions">
              <li>
                <a
                  href="{% url 'landing_page:index' %}"
                  target="_blank"
                  class="button"
                  >Portfolio</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/shambhuraj43"
                  target="_blank"
                  class="button"
                  >GitHub</a
                >
              </li>
            </ul>
          </footer>
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <section>
          <ul class="icons">
            <li>
              <a
                href="{% url 'landing_page:index' %}"
                class="icon solid fa-home alt"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/shambhuraj/"
                target="_blank"
                class="icon brands fa-linkedin alt"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a
                href="https://github.com/shambhuraj43"
                target="_blank"
                class="icon brands fa-github alt"
                ><span class="label">GitHub</span></a
              >
            </li>
            <li>
              <a
                href="mailto:srajw818@gmail.com"
                title="srajw818@gmail.com"
                class="icon solid fa-envelope alt"
                ><span class="label">Email</span></a
              >
            </li>
            <li>
              <a
                href="{% static 'resume_section/files/Shambhuraj_Wadghule_Resume.pdf' %}"
                title="download resume"
                class="icon solid fa-arrow-down alt"
                target="_blank"
                ><span class="label">Resume</span></a
              >
            </li>
          </ul>
        </section>
      </footer>
    </div>

    <!-- Scripts -->
    <script src='{% static "resume_section/assets/js/jquery.min.js" %}'></script>
    <script src='{% static "resume_section/assets/js/jquery.scrollex.min.js" %}'></script>
    <script src='{% static "resume_section/assets/js/jquery.scrolly.min.js" %}'></script>
    <script src='{% static "resume_section/assets/js/browser.min.js" %}'></script>
    <script src='{% static "resume_section/assets/js/breakpoints.min.js" %}'></script>
    <script src='{% static "resume_section/assets/js/util.js" %}'></script>
    <script src='{% static "resume_section/assets/js/main.js" %}'></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  </body>
</html>
