<!DOCTYPE HTML>
{% load static %}

<html>
	<head>
		<title>Shambhuraj's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'landing_page/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'landing_page/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in" style="zoom: 75%;">

				<!-- Intro -->
					<div id="intro">
						<h1>Shambhuraj Wadghule<br /></h1>
						<p>Software Engineer, Full Stack Developer
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="" class="logo">Portfolio</a>
					</header>

					<div>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="{% url 'resume_section:projects' %}">Projects</a></li>
							<li><a href="{% url 'resume_page:resume_page' %}">Resume</a></li>
							<li><a href="{% url 'signup_section:index' %}">Sign Up</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/shambhuraj/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/Shambhuraj43" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:srajw818@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
						
							<article class="post featured">
								<header class="major">
									<span class="date">November, 2022 - Present</span>
									<h2><a href="#">Portfolio Website </a></h2>
									<p>
								</header>
								<a href="{% url 'project_page:base_page' 'portfolio-main' %}" class="image main"><img src="{% static 'landing_page/images/portfolio5.png' %}" alt="" /></a>
								<p>
									Portfolio Website to show my work so far!
								</p>
								<ul class="actions special">
									<li><a href="{% url 'project_page:base_page' 'portfolio-main' %}" class="button large">Learn More</a></li>
								</ul>
							</article>
						

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">October 2022</span>
										<h2><a href="#">Django Rest API Application</a></h2>
									</header>
									<a href="{% url 'project_page:base_page' 'rest-api-django' %}" class="image fit"><img src="{% static 'landing_page/images/rest-api-django.png' %}" alt="" /></a>
									<p>REST API standard to perform CRUD operations.</p>
									<ul class="actions special">
										<li><a href="{% url 'project_page:base_page' 'rest-api-django' %}" class="button">Learn More</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">May 2022</span>
										<h2><a href="#">Habit Tracker Application</a></h2>
									</header>
									<a href="{% url 'project_page:base_page' 'Exercise-Tracker-App' %}" class="image fit"><img src="{% static 'landing_page/images/habit-tracker.png' %}" alt="" /></a>
									<p>Developed a MERN stack application and retrieved user data from MongoDB NoSQL database to analyze and process it in the app's
										functioning with increased scalability and functionality.</p>
									<ul class="actions special">
										<li><a href="{% url 'project_page:base_page' 'Exercise-Tracker-App' %}" class="button">Learn More</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">March 2022</span>
										<h2><a href="#">Software Design Calculator App</a></h2>
									</header>
									<a href="{% url 'project_page:base_page' 'Optimized_Software_Design_Calculator_App ' %}" class="image fit"><img src="{% static 'landing_page/images/calculator.png' %}" alt="" /></a>
									<p>Implemented software design techniques by redesigning a calculator app to ensure performance and optimality.</p>
									<ul class="actions special">
										<li><a href="{% url 'project_page:base_page' 'Optimized_Software_Design_Calculator_App ' %}" class="button">Learn More</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">February 2022</span>
										<h2><a href="#">Random User Generator App</a></h2>
									</header>
									<a href="{% url 'project_page:base_page' 'contact-card-app' %}" class="image fit"><img src="{% static 'landing_page/images/random-user.png' %}" alt="" /></a>
									<p> Built with the MERN stack, this application provides a web interface to generate random users with fake information using a third party API.<p>
									<ul class="actions special">
										<li><a href="{% url 'project_page:base_page' 'contact-card-app' %}" class="button">Learn More</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">November 2021</span>
										<h2><a href="{% url 'project_page:base_page' 'Pathfinder-Application' %}">Pathfinder App</a></h2>
									</header>
									<a href="#" class="image fit"><img src="{% static 'landing_page/images/pathfinder.png' %}" alt="" /></a>
									<p> Shortest Path Finder application built in Java and uses different Graph theory algorithms.<p>
									<ul class="actions special">
										<li><a href="{% url 'project_page:base_page' 'Pathfinder-Application' %}" class="button">Learn More</a></li>
									</ul>
								</article>
								
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<!-- <a href="#" class="page">3</a> -->
									<span class="extra">&hellip;</span>
									<a href="#" class="next">Next</a>
								</div>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/shambhuraj/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/Shambhuraj43" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
									<li><a href="mailto:srajw818@gmail.com" title="srajw818@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							</footer>

					</div>

				<!-- Copyright -->
					<div id="copyright">
							&copy;2023 Design: <a href="#">HTML5 UP</a>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'landing_page/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'landing_page/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'landing_page/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'landing_page/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'landing_page/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'landing_page/assets/js/util.js' %}"></script>
			<script src="{% static 'landing_page/assets/js/main.js' %}"></script>

	</body>
</html>